.oe-iframe-view{
  width: 100%;
  height: 100%;
}

.oe-iframe{
  width: 100%;
  height: 100%;
}

.openerp .view-manager-main-content {
  overflow: hidden;
  padding-bottom: 45px;
}

.oe-iframe-table-td{
  width: 100%;
  height: 100%;
}
