.openerp .oe-dashboard-jasper ul {
    list-style: none;
    padding: 0 0 4px 0;
}

.openerp .oe-dashboard-jasper li {
    text-indent: 20px;
    margin: 0 0 3px 0;
}

.openerp .oe-dashboard-jasper li a {
    color: #222;
}