body.openerp {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}
.openerp {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 80%;
    font-family: Ubuntu, Helvetica, sans-serif;
}

.openerp, .openerp textarea, .openerp input, .openerp select, .openerp option,
.openerp button, .openerp .ui-widget {
    font-size:85%;
    font-family: Ubuntu, Helvetica, sans-serif;
}

.openerp .view-manager-main-content {
    padding: 0 8px 8px 8px;
    width: 100%;
}

.openerp .oe_form_frame_cell .view-manager-main-content {
    padding: 0;
}

.oe_box {
    margin: 2px;
    padding: 2px;
    border: 1px solid #aaf;
}

#oe_header h2 {
    margin: 2px 0;
}

#oe_errors pre {
    margin: 0;
}

.openerp .oe-listview .oe-number {
    text-align: right !important;
}
.oe-listview-header-columns {
    background: #d1d1d1; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #d1d1d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#d1d1d1 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#d1d1d1 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#d1d1d1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}

.openerp .oe_hide {
    display: none !important;
}

/* STATES */
.openerp .on_logged,
.openerp .db_options_row {
    display: none;
}

/* Loading */
.loading {
    cursor: wait;
}
.openerp .loading {
    position: fixed;
    top: 0;
    right: 50%;
    z-index: 100;
    display: none;
    padding: 4px 12px;
    border: 1px solid #22457B;
    border-top: none;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    background: #42659B;
    color: white;
    text-align: center;
}
.openerp .oe_notification {
    z-index: 1050;
    display: none;
}
.openerp .oe_notification * {
    color: white;
}

/* Login page */

.login {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("/web/static/src/img/pattern.png") repeat;
    color: #eee;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial;
}

.login ul, ol {
    margin: 0;
    padding: 0;
}

.login li {
    padding-bottom: 4px;
    list-style-type: none;
}

.login a {
    color: #eee;
    text-decoration: none;
}

.login button {
    float: right;
    display: inline-block;
    margin: 0;
    padding: 6px 16px;
    border: 1px solid #222222;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #42659B;
    background: -moz-linear-gradient(#80A0D0, #42659B);
    background: -webkit-gradient(linear, left top, left bottom, from(#80A0D0), to(#42659B));
    background: -ms-linear-gradient(top, #80A0D0, #42659B);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(155, 155, 155, 0.4) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    color: white;
    font-size: 13px;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80A0D0', endColorstr='#42659B',GradientType=0 );
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}

.login input, .login select {
    width: 252px;
    border: 1px solid #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: whitesmoke;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial;
    -box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
}

.login input {
    margin-bottom: 9px;
    padding: 5px 6px;
}

.login select {
    padding: 1px;
}

.login .dbpane {
    position: fixed;
    top: 0;
    right: 8px;
    display: none;
    padding: 5px 10px;
    border: solid 1px #333;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    background: #1e1e1e;
    background: rgba(30,30,30,0.94);
    color: #eee;
}

.login .bottom {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    background: #42659B;
    background: -moz-linear-gradient(#80A0D0, #42659B);
    background: -webkit-gradient(linear, left top, left bottom, from(#80A0D0), to(#42659B));
    background: -ms-linear-gradient(top, #80A0D0, #42659B);
    text-shadow: 0 1px 1px #999999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80A0D0', endColorstr='#42659B',GradientType=0 );
}

.login .pane {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -160px -166px;
    padding: 22px 32px;
    border: solid 1px #333333;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #1e1e1e;
    background: rgba(30,30,30,0.94);
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    text-align: left;
    -box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
}

.login .pane h2 {
    margin-top: 0;
    font-size: 18px;
}

.login #logo {
    position: absolute;
    top: -70px;
    left: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.login .footer {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    color: transparent;
    text-align: center;
}

.login .footer a {
    display: none;
    margin: 0 8px;
    font-size: 13px;
}

.login .footer a:nth-child(2) {
    float: right;
    display: block;
    color: white;
    font-size: 0.75em;
}

.login .footer a:hover {
    text-decoration: underline;
}

.login .openerp {
    font-weight: bold;
    font-size: 1.5em;
    font-family: serif;
}

.openerp .login {
    text-align: center;
}

.openerp .login .login_error_message {
    display: none;
    margin-top: 15px;
    padding: 14px 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #b41616;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    color: #eee;
    text-align: center;
    font-size: 14px;
    -box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

.openerp .login.login_invalid .login_error_message {
    display: inline-block;
}



/* Database */
.login .oe-database-manager {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
}
.login.database_block .bottom,
.login.database_block .login_error_message,
.login.database_block .pane {
    display: none;
}
.login.database_block .oe-database-manager {
    display: block;
}

.login .database {
    float: left;
    width: 202px;
    height: 100%;
    background: #666666;
}
.login .oe_db_options {
    margin-left: 202px;
    padding-top: 20px;
    color: black;
}

.login .database ul {
    margin-top: 65px;
}

ul.db_options li {
    display: block;
    margin: 1px;
    padding: 5px 0 10px 5px;
    width: 195px;
    border: none;
    /* overriding jquery ui */ -webkit-border-radius: 0;
    -moz-border-radius: 0; border-radius: 0;
    background: #949292; /* Old browsers */
    background: -moz-linear-gradient(top, #949292 30%, #6d6b6b 95%, #282828 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#949292), color-stop(95%,#6d6b6b), color-stop(100%,#282828)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #949292 30%,#6d6b6b 95%,#282828 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #949292 30%,#6d6b6b 95%,#282828 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #949292 30%,#6d6b6b 95%,#282828 100%); /* IE10+ */
    background: linear-gradient(top, #949292 30%,#6d6b6b 95%,#282828 100%); /* W3C */
    color: #EEEEEE;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949292', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
    /* for ie9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949292', endColorstr='#5B5A5A',GradientType=0 ); /* IE6-9 */
}

.db_option_table {
    padding: 5px;
    border: 1px solid #5A5858;
    -moz-border-radius: 10px;
}

table.db_option_table input.required {
    background-color: #D2D2FF !important;
}

.db_option_table label {
    display: block;
    text-align: right;
}

.db_option_table input[type="text"],
.db_option_table input[type="password"],
.db_option_table input[type="file"],
.db_option_table select {
    width: 300px;
}

.option_string {
    padding: 10px 0;
    width: 100%;
    color: #555;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

label.error {
    float: none;
    padding-left: .5em;
    color: red;
    vertical-align: top;
}

/* Main*/
.openerp .main_table {
    width: 100%;
    height: 100%;
    background: #f0eeee;
}
.openerp .oe-application {
    height: 100%;
}
.openerp .oe-application-container {
    width: 100%;
    height: 100%;
}

/* IE Hack - for IE < 9
 * Avoids footer to be placed statically at 100% cutting the middle of the views
 * */
.openerp .oe-application-container {
    height: auto\9;
    min-height: 100%\9;
}

/* Menu */
.openerp .menu {
    height: 34px;
    background: #42659B;
    background: -moz-linear-gradient(#80A0D0, #42659B);
    background: -webkit-gradient(linear, left top, left bottom, from(#80A0D0), to(#42659B));
    background: -ms-linear-gradient(top, #80A0D0, #42659B);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80A0D0', endColorstr='#42659B',GradientType=0 );
}
.openerp .menu td {
    padding:0;
    text-align: center;
}
.openerp .menu a {
    display:block;
    margin: 3px 2px;
    padding: 0 8px;
    height: 20px;
    min-width: 60px;

    border: 1px solid #22457B;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background: #22457B;
    background: -moz-linear-gradient(#6080A0, #22457B);
    background: -webkit-gradient(linear, left top, left bottom, from(#6080A0), to(#22457B));
    background: -ms-linear-gradient(top, #6080A0, #22457B);

    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: #222 0 1px 0;

    white-space: nowrap;
    font-weight: bold;
    font-size: 75%;
    line-height: 20px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6080A0', endColorstr='#22457B',GradientType=0 );
}
.openerp .menu a:hover,
.openerp .menu a:focus,
.openerp .menu a.active {
    background: #c6c6c6; /* Old browsers */
    background: -moz-linear-gradient(top, #c6c6c6 0%, #5c5c5c 7%, #969595 86%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c6c6), color-stop(7%,#5c5c5c), color-stop(86%,#969595)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c6c6c6 0%,#5c5c5c 7%,#969595 86%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c6c6c6 0%,#5c5c5c 7%,#969595 86%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #c6c6c6 0%,#5c5c5c 7%,#969595 86%); /* IE10+ */
    background: linear-gradient(top, #c6c6c6 0%,#5c5c5c 7%,#969595 86%); /* W3C */
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C6C6C6', endColorstr='#969595',GradientType=0 ); /* IE6-9 */
    /* for ie */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#969595',GradientType=0 ); /* IE6-9 */
}
/* Secondary Menu */
.openerp .secondary_menu .oe_toggle_secondary_menu {
    position: absolute;
    right: 0;
    z-index: 10;
    width: 21px;
    height: 21px;
    border-bottom: 1px solid #282828;
    border-left: 1px solid #282828;
    background: transparent;
    color: white;
    text-align: center;
    text-shadow: 0 1px 0 #333;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
}
.openerp .secondary_menu.oe_folded .oe_toggle_secondary_menu {
    position: static;
    width: 21px;
    height: 21px;
    border-bottom: 1px solid #282828;
    border-left: none;
    background: #818181;
}
.openerp .secondary_menu.oe_folded .oe_toggle_secondary_menu span.oe_menu_fold {
    display: none;
}
.openerp .secondary_menu.oe_unfolded .oe_toggle_secondary_menu span.oe_menu_unfold {
    display: none;
}
.openerp .secondary_menu {
    position: relative;
    display: block;
    width: 200px;
    height: 100%;
    min-width: 200px;
    border-right: 1px solid #3C3C3C;
    border-bottom: 1px solid #5A5858;
    background: #5A5858;
    vertical-align: top;
    font-size:85%;
}
.openerp .secondary_menu.oe_folded {
    position: static;
    width: 20px;
    min-width: 20px;
}
.openerp .secondary_menu.oe_folded .oe_secondary_menu.active {
    position: absolute;
    z-index: 100;
    min-width: 200px;
    border: 4px solid #585858;
    border-color: rgba(88, 88, 88, .5);
    border-radius: 4px;
}
.openerp .secondary_menu a {
    display: block;
    padding: 0 5px 2px 5px;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 0 #333;
    white-space: nowrap;
    line-height: 20px;
}
.openerp .oe_secondary_submenu {
    background: #5A5858;
}
.openerp .secondary_menu a.oe_secondary_menu_item {
    background: #949292; /* Old browsers */
    background: -moz-linear-gradient(top, #949292 0%, #6d6b6b 87%, #282828 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#949292), color-stop(87%,#6d6b6b), color-stop(99%,#282828)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #949292 0%,#6d6b6b 87%,#282828 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #949292 0%,#6d6b6b 87%,#282828 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #949292 0%,#6d6b6b 87%,#282828 99%); /* IE10+ */
    background: linear-gradient(top, #949292 0%,#6d6b6b 87%,#282828 99%); /* W3C */
    color: white;
    text-shadow: 0 1px 0 #333;
    white-space: nowrap;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949292', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
    /* for ie9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949292', endColorstr='#5B5A5A',GradientType=0 ); /* IE6-9 */

}
.openerp a.oe_secondary_submenu_item {
    padding: 0 5px 2px 10px;
}
.openerp a.oe_secondary_submenu_item,
.openerp a.oe_secondary_menu_item {
    overflow: hidden;
    text-overflow: ellipsis;
}
.openerp a.oe_secondary_submenu_item:hover,
.openerp a.oe_secondary_submenu_item.leaf.active {
    display: block;
    padding: 0 5px 2px 10px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #d8d8d8 11%, #afafaf 86%, #333333 91%, #5a5858 96%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(11%,#d8d8d8), color-stop(86%,#afafaf), color-stop(91%,#333333), color-stop(96%,#5a5858)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#d8d8d8 11%,#afafaf 86%,#333333 91%,#5a5858 96%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#d8d8d8 11%,#afafaf 86%,#333333 91%,#5a5858 96%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#d8d8d8 11%,#afafaf 86%,#333333 91%,#5a5858 96%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#d8d8d8 11%,#afafaf 86%,#333333 91%,#5a5858 96%); /* W3C */
    color: #3f3d3d;
    text-decoration: none;
    text-shadow: #fff 0 1px 0;
    line-height: 20px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#5A5858',GradientType=0 ); /* IE6-9 */
}
.openerp a.oe_secondary_submenu_item.submenu.opened span:before {
    content: "\25be";
}
.openerp a.oe_secondary_submenu_item.submenu span:before {
    content: "\25b8";
}

/* Header */
.openerp .header {
    height: 65px;
    background: url("/web/static/src/img/header-background.png") repeat-x scroll left top transparent;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #333333;
    letter-spacing: 0.5px;
}
.openerp .company_logo_link {
    float: left;
    display: block;
    width: 200px;
    height: 63px;
    border: 1px solid lightgray;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #CECECE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CECECE));
    border-right-color: gray;
    border-bottom-color: gray;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CECECE',GradientType=0 );
}
.openerp .company_logo {
    display: block;
    margin-top: 7px;
    margin-left: 10px;
    width:180px;
    height:46px;
    background: url(/web/static/src/img/logo.png);
}
.openerp .header_title {
    float: left;
    margin: 0;
    padding: 4px 10px;
    text-shadow: 0 1px 0 #111111;
    font-weight:normal;
    font-size: 100%;
    line-height:14px;
}
.openerp .header_title small {
    color: #ccc;
    font-weight: normal;
    font-size: 90%;
}
.openerp .header_corner {
    float: right;
}
.openerp .header_corner .block {
    float: left;
    height: 34px;
    border-left: 1px solid #6a6a6a;
    /* background: url(../images/top-sep-a.png) no-repeat; */
    background: #828282;
    background: -moz-linear-gradient(top, #828282 0%, #4D4D4D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828282), color-stop(100%,#4D4D4D));
    line-height: 34px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#4D4D4D',GradientType=0 );
}
.openerp .header_corner .block a {
    display: block;
    padding: 0 10px;
    color: white;
    text-decoration: none;
}
.openerp .header_corner .block a:hover {
    background: #929292;
    background: -moz-linear-gradient(top, #929292 0%, #4D4D4D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#929292), color-stop(100%,#4D4D4D));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929292', endColorstr='#4D4D4D',GradientType=0 );
}
.openerp .header_corner ul.block {
    margin: 0;
    padding: 0 0 0 2px;
    height: 34px;
    list-style: none;
    line-height: 33px;
}
.openerp .header_corner ul.block li {
    float: left;
}
.openerp .header_corner ul.block li a {
    position: relative;
    padding: 0 5px;
    line-height: 32px;
}
.openerp .header_corner ul.block li a img {
    vertical-align: middle;
}
.openerp .header_corner ul.block li a small {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 1px 4px 2px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    line-height: 1em;
}

.openerp .logout {
    font-size:80%;
}

/* Footer */
.openerp div.oe_footer {
    position: relative;
    overflow: hidden;
    padding: 5px 0;
    background: none repeat scroll 0 0 #CCCCCC;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.4);
}
.openerp div.oe_footer p.oe_footer_powered {
    left: 50%;
    margin: 0;
    padding: 0 15px;
    color: #666666;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}
.openerp div.oe_footer p.oe_footer_powered a {
    color: #666666;
    text-decoration: none;
}


/* Main Application */
.openerp .oe-main-content {
    padding: 0;
    height: 100%;
}

.openerp h2.oe_view_title {
    margin: 2px 0;
    color: #252424;
    text-shadow: white 0 1px 0;
    font-weight: normal;
    font-size: 110%;
}
.openerp div[id^="notebook"] .oe_view_title {
    padding-bottom:4px;
    font-size:85%;
}

/* View Manager */
.openerp .oe_vm_switch {
    float: right;
}
.openerp .oe-view-manager-header .oe_view_title {
    padding:2px 0 0 0;
    font-size:150%;
}

/* SearchView */
.openerp .oe_searchview_field > div {
    position: relative;
    white-space: nowrap;
}
.openerp .oe_searchview_field .oe_input_icon {
    top: auto;
    bottom: 3px;
}

.openerp .filter_label, .openerp .filter_icon {
    border: 1px solid #999;
    background: #F0F0F0;
    background: -moz-linear-gradient(top, #F0F0F0 0%, #C0C0C0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#C0C0C0));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#C0C0C0',GradientType=0 );
}
.openerp .filter_label:hover, .openerp .filter_icon:hover {
    background: #F0F0F0;
    background: -moz-linear-gradient(top, #F0F0F0 0%, #A1A7CE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#A1A7CE));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#A1A7CE',GradientType=0 );
}
.openerp .filter_label:active, .openerp .filter_icon:active {
    background: #aaa;
    background: -moz-linear-gradient(top, #999999 0%, #EEEEEE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#EEEEEE));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#EEEEEE',GradientType=0 );
}
.openerp .filter_label.enabled, .openerp .filter_icon.enabled {
    background: #aaa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: none;
    -o-box-shadow: none;
}
.openerp .filter_icon {
    margin: 0;
    padding: 1px 2px 0 2px;
    height: 22px;
    vertical-align: bottom;
}
.openerp .filter_label {
    margin: 0;
    padding: 2px 4px;
    min-width: 75px;
    min-height: 40px;
    color: #4C4C4C;
    text-transform: uppercase;
    text-shadow: #EEE 0 1px 0;
    white-space: nowrap;
    font-weight: bold;
}
.openerp .filter_label_group {
    padding-right: 0.4em;
    white-space: nowrap;
}

.openerp .filter_label_group button {
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.openerp .filter_label_group button:first-child {
    border-right: none;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
}
.openerp .filter_label_group button:last-child {
    border-right: 1px solid #999;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
}
.openerp .filter_label_group button.filter_icon img {
    padding: 1px 8px 0 8px;
}
.openerp .filter_label_group button.filter_icon:first-child {
    margin-left: -7px;
    border-left: solid 1px #999;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
}

.openerp .searchview_group_string {
    display: block;
    padding: 2px 0 2px 10px;
    color: #7D7979;
    text-decoration: none;
    font-weight: bold;
}
.openerp .searchview_group_string:hover {
    background-color: #ccc;
}
.openerp .searchview_group.folded .searchview_group_string {
    background: url("/web/static/src/img/ui/group-folded.png") no-repeat scroll 0 50%;
}
.openerp .searchview_group.folded .searchview_group_content {
    display: none;
}
.openerp .searchview_group.expanded .searchview_group_string {
    background: url("/web/static/src/img/ui/group-expanded.png") no-repeat scroll 0 50%;
}
.openerp .searchview_group.expanded .searchview_group_content {
    display: block;
    padding-bottom:3px;
}

.openerp .searchview_group_content .oe_label, .openerp .searchview_group_content .oe_label_help {
    color: #4c4c4c;
    font-weight: bold;
}

.openerp .oe-searchview-render-line .oe_label, .openerp .oe-searchview-render-line .oe_label_help {
    white-space: nowrap;
    font-weight: bold;
    font-size: 80%;
}

.openerp .searchview_extended_group {
    margin: 2px;
    padding: 3px;
}

.openerp .searchview_extended_group .oe_adv_filters_and {
    margin-top: -10px;
    border-bottom: 1px solid #8E8E8E;
    text-align: center;
}
.openerp .searchview_extended_group .oe_adv_filters_and span {
    position: relative;
    top: 0.5em;
    padding: 0 1em 0 1em;
    background: #F0EEEE;
    color: #8E8E8E;
}

.openerp .searchview_extended_group.last_group .oe_adv_filters_and {
    display: none;
}

.openerp .oe_search-view-buttons {
    padding: 2px 0 10px 0;
    vertical-align:middle;
}
.openerp .oe_search-view-filters-management {
    float: right;
}
.openerp .oe_search-view-filters-management, .openerp .oe_search-view-custom-filter-btn {
    float:right;
}

.openerp .searchview_extended_add_proposition span {
    padding-left: 18px;
    background: url(/web/static/src/img/icons/gtk-add.png) repeat-y;
    font-size: 0.9em;
}

.openerp .searchview_extended_delete_group {
    float:right;
    display: none;
}

.openerp .searchview_extended_delete_prop {
    text-decoration: none;
}

.openerp .searchview_extended_delete_group span,
.openerp .searchview_extended_delete_prop span {
    padding-left: 18px;
    background: url(/web/static/src/img/icons/gtk-close.png) repeat-y;
    font-size: 0.9em;
}
/* List */
.openerp table.oe-listview-content {
    clear: right;
    width: 100%;
    border: 1px solid silver;
    border-spacing: 0;
}

.openerp .oe-listview thead table {
    width: 100%;
    border:  none;
}
.openerp .oe-listview tr.odd {
    background-color: #f3f3f3;
}
.openerp .oe-listview tbody tr:hover {
    background-color: #ecebf2;
}
.openerp .oe-listview tbody tr:hover {
    background-color: #eae9f0;
}
.openerp .oe-listview thead table tr,
.openerp .oe-listview thead table tr:hover {
    background: none;
}

.openerp .oe-listview > table > tbody > tr > td,
.openerp .oe-listview th {
    padding: 1px 2px;
    vertical-align: middle;
    text-align: left;
}

.openerp .oe-record-delete button,
.openerp button.oe-edit-row-save {
    width: 12px;
    height: 12px;
    border: none;
    background: url("/web/static/src/img/iconset-b-remove.png") no-repeat scroll center center transparent;
    cursor: pointer;
}
.openerp button.oe-edit-row-save {
    background-image: url('/web/static/src/img/icons/save-document.png');
}

/* Could use :not selectors if they were supported by MSIE8... */
.openerp .oe-listview > table > tbody > tr > td {
    border-left: 1px solid #dadada; /*currently commenting to test with no vertical lines in list view*/
}
.openerp .oe-listview tbody td:first-child,
.openerp .oe-listview tbody td.oe-button,
.openerp .oe-listview tbody td.oe-button,
.openerp .oe-listview tbody th.oe-record-selector,
.openerp .oe-listview tbody td.oe-record-delete {
    border-left: none;
}

.openerp .oe-listview td.oe-record-delete {
    text-align: right;
}
.openerp .oe-listview th.oe-sortable {
    margin: 0;
    padding: 0;
    padding-left: 3px;
    color: #333;
    text-transform: uppercase;
    font-size: 75%;
    cursor: pointer;
}
.openerp .oe-listview th.oe-sortable .ui-icon {
    display: inline;
    display: inline-block;
    margin: -6px 0 0;
    height: 60%;
    vertical-align: middle;
}

.openerp .oe-listview > table > tbody > tr > td {
    border-bottom: 1px solid #E3E3E3;
}


.openerp .oe-listview td.oe-actions {
    border-bottom:none;
}

.openerp .oe-listview .oe-record-selector, .openerp .oe-listview .oe-record-edit-link {
    border-bottom: 1px solid #E3E3E3;
}
.openerp .oe-listview .oe-record-edit-link {
    cursor: pointer;
}

.openerp .oe-listview .oe-field-cell {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 80%;
    cursor: pointer;
}
.openerp .oe-listview .oe-field-cell progress {
    width: 100%;
}
.openerp .oe-listview .oe-field-cell.oe-button button,
.openerp .oe-listview .oe_form_button button {
    margin: 0;
    padding: 0;
    width: 16px;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.openerp .oe-listview .oe-field-cell button:active {
    opacity: 0.5;
}
.openerp .oe-listview .oe-field-cell button img {
    cursor: pointer;
}
.openerp .oe-listview .oe-field-cell button img:hover {
    opacity: 0.75;
}

.openerp .oe-listview .oe-field-cell .oe-listview-button-disabled img {
    opacity: 0.5;
}

.openerp .oe-listview th.oe-actions {
    text-align: left;
    white-space: nowrap;
}
.openerp .oe-listview th.oe-list-pager {
    text-align: right;
    white-space: nowrap;
}
.openerp .oe-list-pager .oe-pager-state {
    color: #555;
    font-size: 90%;
    cursor: pointer;
}

.openerp .oe_button.oe_button_pager,
.openerp .oe-list-pager > span,
.openerp .oe_form_pager > span {
   height: 17px;
   color: gray;
   vertical-align: middle;
   font-weight: bold;
   line-height: 17px;
   cursor: pointer;
}
.openerp .oe_button.oe_button_pager,
.openerp .oe_button.oe_button_pager:disabled {
    margin: 0;
    padding: 0 3px 0 3px;
    height: 17px;
}
.openerp .oe-listview .oe-group-name {
    padding-right: 1em;
}
.openerp .oe-listview .oe-group-name,
.openerp .oe-listview .oe-group-pagination {
    white-space: nowrap;
}

.openerp .oe-listview tfoot td {
    padding: 3px 3px 0;
}
.openerp .oe-listview .oe-list-footer {
    color: #444;
    text-align: center;
    white-space: nowrap;
    font-size: 85%;
}
.openerp .oe-listview .oe-list-footer span {
    margin: 0 1em;
}
.openerp .oe-listview .oe-list-footer progress {
    width: 100%;
    vertical-align:-10% !important;
}

/** list rounded corners

    rounded corners are a pain on tables: need to round not only table, but
    also on the first and last children of the first and last row
 */
.openerp .oe-listview table.oe-listview-content {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content thead tr:first-child th:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content thead tr:first-child th:last-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child th:first-child,
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child td:first-child,
.openerp .oe-listview table.oe-listview-content tbody:last-child tr:last-child th:first-child {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child th:last-child,
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child td:last-child,
.openerp .oe-listview table.oe-listview-content tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

/* Notebook */
.openerp .oe_form_notebook {
    padding: 0;
    border-width: 0;
    background: none;
}
.openerp .oe_form_notebook .ui-tabs-panel {
    padding: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
.openerp .oe_form_notebook ul.ui-tabs-nav {
    padding-left: 0;
    border-width: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: #555;
    font-size: 95%;
    line-height: 0.8em;
}
.openerp .oe_form_notebook ul.ui-tabs-nav li {
    font-weight: bold;
}
.openerp .oe_form_notebook .ui-tabs-panel {
    border-width: 1px;
    background: #f9f9f9;
}
.openerp .oe_form_notebook .ui-tabs-selected {
    background: #f9f9f9;
}
/* Unedit Form */
.openerp .field_char,
.openerp .field_date,
.openerp .field_float,
.openerp .field_selection,
.openerp a.oe_form_uri {
    padding-top: 3px;
    color: #222;
    vertical-align: middle;
    font-size: 90%;
}
.openerp a.oe_form_uri {
    color: #9A0404;
    line-height: 12px;
}



/* Form */
.openerp .oe_form_button_save_dirty {
    display: none;
}
.openerp .oe_form_dirty > .oe_form_header > .oe_form_buttons > .oe_form_button_save {
    background: #dc5f59;
    background: -moz-linear-gradient(#dc5f59, #b33630);
    background: -webkit-gradient(linear, left top, left bottom, from(#dc5f59), to(#b33630));
    background: -webkit-linear-gradient(#dc5f59, #b33630);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: white;
    font-weight: bold;
    -box-shadow: none;
}
.openerp .oe_form_frame_cell input[type="checkbox"] {
    margin-top: 3px;
    vertical-align: middle;
}
.openerp .oe_form_frame_cell .input[type="text"] {
    padding-bottom: 1px;
}

.openerp table.oe_frame td {
    color: #4c4c4c;
}
.openerp td.oe_form_frame_cell {
    position: relative;
    padding: 2px;
}
.openerp .oe_frame.oe_forms {
    clear: both;
}
.openerp table.oe_frame {
    color: #4c4c4c;
}
.openerp fieldset.oe_group_box {
    padding: 4px;
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #F9F9F9;
    moz-border-radius: 4px;
}
.openerp fieldset.oe_group_box legend {
    font-weight: bold;
}
.openerp td.oe_form_frame_cell {
    position: relative;
    padding: 2px;
}
.openerp td.oe_form_field_translatable,
.openerp td.oe_form_field_many2one,
.openerp td.oe_form_field_date,
.openerp td.oe_form_field_datetime {
    white-space: nowrap;
}
.openerp td.oe_form_field_boolean {
    padding-top: 4px;
}
.openerp td.oe_form_frame_cell.oe_form_group {
    padding: 0;
}
.openerp .required.error {
    border: 1px solid #900;
}
.openerp .oe_form_buttons, .openerp .oe_list_buttons {
    float: left;
}
.openerp .oe_form_pager, .openerp .oe_list_pager {
    float: right;
    color: gray;
    font-weight: bold;
    font-size: 80%;
}

.openerp .oe_form_pager {
    margin-right: 3px;
}


.openerp label.oe_label_help, .openerp label.oe_label,
.openerp .oe_form_paragraph,
.openerp .oe_form_field_statusbar,
.openerp .oe_forms input[type="text"],
.openerp .oe_forms input[type="password"],
.openerp .oe_forms input[type="file"],
.openerp .oe_forms select,
.openerp .oe_forms .oe_button,
.openerp .oe_forms textarea {
    font-size: 85%;
}

.openerp label.oe_label_help, .openerp label.oe_label {
    display: block;
    color: #4c4c4c;
    font-weight: normal;
}
.openerp label.oe_label_help {
    cursor: help;
}
.openerp .oe_form_frame_cell  .oe_label, .openerp .oe_form_frame_cell  .oe_label_help {
    font-weight: normal;
}
.openerp #tiptip_content {
    font-size: 12px;
}
.openerp .oe_tooltip_string {
    color: #FD5;
    font-weight: bold;
    font-size: 13px;
}
.openerp .oe_tooltip_help {
    white-space: pre-wrap;
}
.openerp .oe_tooltip_technical {
    margin: 5px 0 0 15px;
    padding: 0 0 4px 0;
    list-style: circle;
}
.openerp .oe_tooltip_technical_title {
    font-weight: bold;
}

.openerp .oe_forms label.oe_label, .openerp .oe_forms label.oe_label_help {
    margin: 3px 0 0 3px;
    white-space: nowrap;
}
.openerp .oe_forms .searchview_group_content label.oe_label, .openerp .searchview_group_content .oe_forms label.oe_label_help { /* making a distinction between labels in search view and other labels */
    margin: 3px 0 0 3px;
}

.openerp label.oe_label_help span {
    position: relative;
    top: -4px;
    padding: 0 2px;
    color: darkgreen;
    vertical-align:top;
    font-size: 80%;
}
.openerp .oe_align_left {
    text-align: left;
}
.openerp .oe_align_right {
    text-align: right;
}
.openerp .oe_align_center {
    text-align: center;
}
.openerp .oe_forms .oe_form_paragraph {
    margin: 3px 0 0 0;
    white-space: normal;
}

.openerp .oe_forms .oe_form_paragraph.oe_multilines {
    white-space: pre;
}

.openerp .oe_form_field_one2many .oe-actions h3.oe_view_title,
.openerp .oe_form_field_one2many_list .oe-actions h3.oe_view_title{
    display: inline;
    margin: 0 0.5em 0 0;
}

.openerp .oe_forms .oe-listview th.oe-sortable .ui-icon,
.openerp .oe_forms .oe-listview th.oe-sortable .ui-icon {
    margin-top: -9px;
    height: 100%;
}

.openerp table.oe_frame .oe-listview-content td {
    color: inherit;
}

/* Uneditable Form View */
.openerp .oe_form_readonly {

}
.openerp .oe_form_readonly .oe_form_frame_cell .field_text,
.openerp .oe_form_readonly .field_char,
.openerp .oe_form_readonly .field_int,
.openerp .oe_form_readonly .field_float,
.openerp .oe_form_readonly .field_email,
.openerp .oe_form_readonly .field_date,
.openerp .oe_form_readonly .field_selection,
.openerp .oe_forms_readonly .oe_form_field_many2one {
    padding: 3px 2px 2px 2px;
    height: 17px;
    background-color: white;
}
.openerp .oe_form_readonly .oe_form_frame_cell .field_text {
    height: auto;
}
.openerp .oe_form_readonly .field_datetime {
    padding: 1px 2px 2px 2px;
    height:19px;
    background-color: white;
}
.openerp .oe_form_readonly .oe_form_field_many2one div {
    margin-bottom:1px;
    padding: 0px 2px 5px 2px;
    height:18px;
    background-color:white;
}

.openerp .oe_form_readonly .oe_form_field_email div  {
    padding: 1px 2px 3px 2px;
    background-color: white;
}


.openerp .oe_form_readonly .oe_form_field_text div.field_text,
.openerp .oe_form_readonly .oe_form_field_text_html div.field_text_html {
    white-space: pre-wrap;
}
.openerp .oe_form_readonly .oe_form_frame_cell .field_text  {
    min-height:100px;
}
/* Inputs */
.openerp .oe_forms input[type="text"],
.openerp .oe_forms input[type="password"],
.openerp .oe_forms input[type="file"],
.openerp .oe_forms select,
.openerp .oe_forms textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 2px;
    padding: 0 2px;
    min-width: 90px;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: white;
    color: #1f1f1f;
    -ms-box-sizing: border-box;
}

.openerp .oe_forms input.field_many2one,
.openerp .oe_forms input.field_binary,
.openerp .oe_forms input.field_binary,
.openerp .oe_forms input.field_email,
.openerp .oe_forms input.field_url  {
    border-right: none;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
}
.openerp .oe_button.oe_field_button {
    margin-right:-1px;
    height: 22px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
}

.openerp .oe_form_field_email button img,
.openerp .oe_form_field_url button img {
    vertical-align: top;
}
/* vertically recentering filter management select tag */
.openerp select.oe_search-view-filters-management {
    margin-top:2px;
}

.openerp .oe_forms select{
    padding-top: 2px;
}
.openerp .oe_forms input[readonly],
.openerp .oe_forms select[readonly],
.openerp .oe_forms textarea[readonly],
.openerp .oe_forms input[disabled],
.openerp .oe_forms select[disabled],
.openerp .oe_forms textarea[disabled]{
    background: #E5E5E5 !important;
    color: #666;
}
.openerp .oe_forms textarea {
    resize:vertical;
}
.openerp .oe_forms input[type="text"],
.openerp .oe_forms input[type="password"],
.openerp .oe_forms input[type="file"],
.openerp .oe_forms select,
.openerp .oe_forms .oe_button {
    height: 22px;
}

.openerp .oe_forms input.field_datetime {
    min-width: 11em;
}
.openerp .oe_forms .oe_form_button .oe_button {
    width: 100%;
    min-width: 100%;
    color: #4c4c4c;
    white-space: nowrap;
}
@-moz-document url-prefix() {
    /* Strange firefox behaviour on width: 100% + white-space: nowrap */
    .openerp .oe_forms .oe_form_button .oe_button {
        width: auto;
    }
}
/* IE Hack - for IE < 9
 * Avoids buttons overflow
 * */
.openerp .oe_forms .oe_form_button .oe_button {
    min-width: auto\9;
}
.openerp .oe_forms .button {
    height: 22px;
}
.openerp .oe_forms .oe_button span {
    position: relative;
    vertical-align: top;
}
.openerp .oe_input_icon {
    margin: 3px 0 0 -21px;
    vertical-align: top;
    cursor: pointer;
}
.openerp .oe_datepicker_container {
    display: none;
}
.openerp .oe_datepicker_root {
    display: inline-block;
}
.openerp .oe_form_frame_cell .oe_datepicker_root {
    width: 100%;
}
.openerp .oe_input_icon_disabled {
    position: absolute;
    top: 3px;
    right: 5px;
    opacity: 0.5;
    cursor: default;
    filter:alpha(opacity=50);
}
.openerp .oe_trad_field.touched {
    border: 1px solid green !important;
}

/* http://www.quirksmode.org/dom/inputfile.html
 * http://stackoverflow.com/questions/2855589/replace-input-type-file-by-an-image
 */
.openerp .oe-binary-file-set {
    position: relative;
    overflow: hidden;
}
.openerp input.oe-binary-file {
    position: absolute;
    /* Should be adjusted for all browsers */
    top: -2px;
    right: 0;
    z-index: 0;
    margin: 0;
    padding:0;
    font-size: 50px;
    line-height: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
}

/* Widgets */
.openerp .separator {
    border: 0 solid #666;
}
.openerp .separator.horizontal {
    margin: 3px 4px 3px 1px;
    height: 17px;
    font-weight: bold;
    font-size: 95%;
    border-bottom-width: 1px;
}
.openerp .separator.horizontal:empty {
    height: 5px;
}
.openerp .oe_form_frame_cell.oe_form_separator_vertical {
    border-left: 1px solid #666;
}
.openerp td.required input, .openerp td.required select {
    background-color: #D2D2FF !important;
}
.openerp td.invalid input, .openerp td.invalid select, .openerp td.invalid textarea {
    border: 1px solid #D00 !important;
    background-color: #F66 !important;
}
.openerp div.oe-progressbar span {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}

/* jQuery UI override */
.openerp .ui-widget {
    font-size: 1em;
}
.openerp .oe_form_field_progressbar .ui-progressbar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    min-width: 90px;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: white;
    font-size: 10px;
    -ms-box-sizing: border-box;
}
.openerp tbody.ui-widget-content {
    margin-bottom: 10px;
    border-spacing: 4px;
}
.openerp .ui-widget-header {
    background: white none;
}
/* progress bars */
.openerp .ui-progressbar .ui-widget-header {
    background: #cccccc url(/web/static/lib/jquery.ui/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
}

/* Sidebar */
.openerp .view-manager-main-table {
    margin: 0;
    width:100%;
    height:100%;
    border-collapse:collapse;
}

.openerp .view-manager-main-table tbody {
    vertical-align: top;
}

.openerp .oe-view-manager-header {
    overflow: auto;
    margin:6px 0 6px 2px;
    background: url("/web/static/src/img/sep-a.gif") 0 100% repeat-x;
}
.openerp .oe_form_frame_cell .oe-view-manager-header { /* Trick: remove the background when element is in a formular */
    background: none;
}

.openerp .oe-view-manager-header h2 {
    float: left;
}

.openerp .oe_view_manager_menu_tips blockquote {
    display: none;
    margin: 0;
    padding: 1px 10px;
    border-bottom: 1px solid #CECBCB;
    background: #fff;
    color: #4C4C4C;
    font-size: 85%;
}
.openerp .oe_view_manager_menu_tips blockquote p {
    margin: 0;
    padding: 6px 1px 4px;
}

.openerp .oe_view_manager_menu_tips blockquote div {
    margin-right:10px;
    text-align: right;
}

.openerp .oe_view_manager_menu_tips blockquote div button {
    display: inline;
    margin: 0;
    padding: 0 4px;
    border: none;
    background: none;
    color: inherit;
    text-decoration: underline;
}
.openerp .oe-view-manager-logs {
    position: relative;
    clear: both;
    overflow: hidden;
    margin: 0.25em 0;
    background: #fff;
    color: #4C4C4C;
    font-size: 85%;
}
.openerp .oe-view-manager-logs ul {
    margin: 0;
    padding: 0 10px;
    list-style: none;
}
.openerp .oe-view-manager-logs li:before {
    content: '\2192 ';
}
.openerp .oe-view-manager-logs a {
    color: inherit;
    text-decoration: none;
}
/* only display first three log items of a folded logs list */
.openerp .oe-view-manager-logs.oe-folded li:nth-child(n+4) {
    display: none;
}
/* display link to more logs if there are more logs to view and the logview is
   currently folded */
.openerp .oe-view-manager-logs a.oe-more-logs {
    display: none;
}
.openerp .oe-view-manager-logs.oe-folded.oe-has-more a.oe-more-logs {
    display: block;
}
.openerp .oe-view-manager-logs a.oe-remove-everything {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.openerp .view-manager-main-sidebar {
    margin: 0;
    padding: 0;
    width: 180px;
}

.openerp .sidebar-main-div {
    height: 100%;
    border-left: 1px solid #D2CFCF;
}

.openerp .sidebar-content {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 100%;
    font-size: 0.9em;
}

.openerp .closed-sidebar .sidebar-content {
    width: 22px;
}

.openerp .closed-sidebar .sidebar-content {
    display: none;
}

.openerp .sidebar-main-div a {
    color: #555;
    text-decoration: none;
}

.openerp .sidebar-main-div a:hover {
    color: black;
}

.openerp .oe-sidebar-attachments-toolbar {
    margin: 4px 0 0 4px;
}
.openerp .oe-sidebar-attachments-items {
    clear: both;
    padding-top: 5px !important;
}
.openerp .oe-sidebar-attachments-items li {
    position: relative;
    padding: 0 0 3px 10px !important;
}
.openerp .oe-sidebar-attachments-items li:hover {
    background: #ddd;
}
.openerp .oe-sidebar-attachments-link {
    display: block;
    overflow: hidden;
    margin-right: 15px;
}
.openerp .oe-sidebar-attachment-delete {
    position: absolute;
    top: 1px;
    right: 2px;
    overflow: hidden;
    padding: 1px;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.openerp .oe-sidebar-attachment-delete:hover {
    background-color: white;
}

.openerp .view-manager-main-sidebar h2 {
    margin:0;
    padding-right: 21px;
    padding-left: 10px;
    height: 21px;

    border: 1px solid #D2CFCF;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ebe9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebe9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ebe9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ebe9e9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ebe9e9 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#ebe9e9 100%); /* W3C */
    color: #8E8E8E;
    text-shadow: white 0 1px 0;
    font-size: 1.15em;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EBE9E9',GradientType=0 ); /* IE6-9 */
    border-right-width: 0;
    border-left-width: 0;
}
.openerp .view-manager-main-sidebar h2 {
    border-top-width: 0;
}

.openerp .view-manager-main-sidebar ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.openerp .view-manager-main-sidebar li {
    display: block;
    padding: 3px 3px 3px 10px;
}

.openerp .toggle-sidebar {
    z-index: 10;
    display: block;
    width: 21px;
    height: 21px;
    border: 1px solid #D2CFCF;
    background: url(/web/static/src/img/toggle-a-bg.png);
    cursor: pointer;
    border-top-width: 0;
}
.openerp .open-sidebar .toggle-sidebar {
    position: absolute;
    margin-left: 158px;
    background-position: 21px 0;
}
.openerp .closed-sidebar .toggle-sidebar {
    border-left: none;
}
.openerp li.oe_sidebar_print {
    padding-left: 20px;
    background: 1px 3px url(/web/static/src/img/icons/gtk-print.png) no-repeat;
}

.openerp .oe_sidebar_print ul {
    padding-left:8px;
}

.openerp.kitten-mode-activated .main_table {
    background: url(http://placekitten.com/g/1500/800) repeat;
}
.openerp.kitten-mode-activated.clark-gable .main_table {
    background: url(http://amigrave.com/ClarkGable.jpg);
    background-size: 100%;
}

.openerp.kitten-mode-activated .header {
    background: url(http://placekitten.com/g/211/65) repeat;
}

.openerp.kitten-mode-activated .secondary_menu {
    background: url(http://placekitten.com/g/212/100) repeat;
}

.openerp.kitten-mode-activated .menu {
    background: #828282;
    background: -moz-linear-gradient(top, #828282 0%, #4D4D4D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828282), color-stop(100%,#4D4D4D));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#4D4D4D',GradientType=0 );
}
.openerp.kitten-mode-activated .menu a {
    background: none;
}
.openerp.kitten-mode-activated .menu span {
    background: none;
}
.openerp.kitten-mode-activated .sidebar-content li a,
.openerp.kitten-mode-activated .oe-application .view-manager-main-content h2.oe_view_title,
.openerp.kitten-mode-activated .oe-application .view-manager-main-content a.searchview_group_string,
.openerp.kitten-mode-activated .oe-application .view-manager-main-content label  {
    color: white;
}
.openerp.kitten-mode-activated .menu,
.openerp.kitten-mode-activated .header_corner,
.openerp.kitten-mode-activated .header_title,
.openerp.kitten-mode-activated .secondary_menu div,
.openerp.kitten-mode-activated .oe-application,
.openerp.kitten-mode-activated .oe_footer,
.openerp.kitten-mode-activated .loading,
.openerp.kitten-mode-activated .ui-dialog {
    opacity:0.8;
    filter:alpha(opacity=80);
}
.openerp.kitten-mode-activated .header .company_logo {
    background: url(http://placekitten.com/g/180/46);
}
.openerp.kitten-mode-activated .loading {
    border-color: #828282;
    background: #828282;
}

.openerp .oe-m2o-drop-down-button {
    margin-left: -24px;
}
.openerp .oe-m2o-drop-down-button img {
    margin-bottom: -4px;
    cursor: pointer;
}
.openerp .oe-m2o input  {
    margin-right: 0px !important;
    padding-bottom: 2px !important;
    border-right: none;
}
.openerp .oe-m2o-disabled-cm {
    color: grey;
}
.openerp ul[role="listbox"] li a {
    font-size:80%;
}
.parent_top {
    vertical-align: text-top;
}

.openerp .oe-dialog-warning p {
    padding-left: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.openerp .dhx_mini_calendar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -khtml-box-shadow: none;
}
.openerp .oe-treeview-table {
    width: 100%;
    background-color : #FFFFFF;
    border-spacing: 0;

}
.openerp .oe-treeview-table tr:hover{
    color: blue;
    background-color : #D8D8D8;
}
.treeview-tr, .treeview-td {
    border-bottom: 1px solid #CFCCCC;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
}
.openerp .oe-treeview-table .oe-number {
   text-align: right !important;
}
.treeview-tr span, .treeview-td span {
    display: block;
    white-space: nowrap;
    font-weight: normal;
    font-size: 90%;
    }
.treeview-tr.oe-treeview-first {
    background: transparent url(/web/static/src/img/expand.gif) 0 50% no-repeat;
}
.oe-open .treeview-tr.oe-treeview-first {
    background-image: url(/web/static/src/img/collapse.gif);
}
.treeview-tr.oe-treeview-first span,
.treeview-td.oe-treeview-first span {
    margin-left: 16px;
}

.treeview-header {
    padding: 4px 5px;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    background-color : #D8D8D8;
}
/* Shortcuts*/
.oe-shortcut-toggle {
    float: left;
    display: block;
    margin-top: 3px;
    padding: 0;
    width: 24px;
    height: 20px;
    background: url(/web/static/src/img/add-shortcut.png) no-repeat center center;
    cursor: pointer;
}
.oe-shortcut-remove{
    background: url(/web/static/src/img/remove-shortcut.png) no-repeat center center;
}
.oe-shortcuts {
    position: absolute;
    top: 37px;
    right: 0;
    left: 197px;
    margin: 0;
    padding: 6px 15px;
    height: 17px;
    line-height: 1.2;
}
.oe-shortcuts ul {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
.oe-shortcuts li {
    display: -moz-inline-stack;
    display: inline-block;
    display: inline; /*IE7 */
    padding: 0 4px;
    border-left: 1px solid #909090;
    color: #fff;
    vertical-align: top;
    text-align: center;
    font-weight: normal;
    font-size: 80%;
    cursor: pointer;
}

.oe-shortcuts li:hover {
    background-color: #666;
}
.oe-shortcuts li:first-child {
    padding-left: 0;
    border-left: none;
}

ul.oe-arrow-list {
    margin: 0;
    padding-left: 1.1em;
    white-space: nowrap;
}
ul.oe-arrow-list li {
    display: inline-block;
    margin-left: -1em;
}
ul.oe-arrow-list li span {
    display: inline-block;
    border: 1em solid #DEDEDE;
    vertical-align: top;
    line-height:0em;
}
ul.oe-arrow-list .oe-arrow-list-before {
    border-left-color: rgba(0,0,0,0);
    border-right-width:0;
}
ul.oe-arrow-list .oe-arrow-list-after {
    border-color: rgba(0,0,0,0);
    border-left-color: #DEDEDE;
    border-right-width:0;
}
ul.oe-arrow-list li.oe-arrow-list-selected span {
    border-color: #B5B9FF;
}
ul.oe-arrow-list li.oe-arrow-list-selected .oe-arrow-list-before {
    border-left-color: rgba(0,0,0,0);
}
ul.oe-arrow-list li.oe-arrow-list-selected .oe-arrow-list-after {
    border-color: rgba(0,0,0,0);
    border-left-color: #B5B9FF;
}
.openerp ul.oe-arrow-list li:first-child span:first-child{
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
}
.openerp ul.oe-arrow-list li:last-child span:last-child{
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}
.openerp .oe_view_editor {
    margin-left: -12px;
    width:100%;

    width: 100%;
    border-collapse : collapse;
    background-color : white;
    border-spacing: 0;
}
.openerp .oe_view_editor td{
    border: 1px solid #D8D8D8;
    text-align: center;
    white-space: nowrap;
    font-size: 90%;

    cursor: pointer;
}
.openerp .oe_view_editor_field td{
    border: 0px !important;
}

.openerp .oe_view_editor tr:hover {
    background-color: #ecebf2;
}


/* Dialog traceback cases */
.openerp .oe_error_detail{
    display: block;
}
.openerp .oe_error_send{
    display:block;
}
.openerp .oe_fielddiv{
    display:inline-block;
    width:100%;
}
.openerp .oe_fielddiv input[type=text],textarea{
    width:100%;
}
/* for Alignment center */
.openerp .oe_centeralign{
    text-align:center;
}

.openerp .oe_applications_tiles {
  margin: 0 20px;
  color: #4C4C4C;
  text-shadow: #EEE 0 1px 0;
}

.openerp .oe_vm_switch {
    margin:2px 0 0 0;
}

.openerp .oe_vm_switch_form,
.openerp .oe_vm_switch_page,
.openerp .oe_vm_switch_tree,
.openerp .oe_vm_switch_list,
.openerp .oe_vm_switch_graph,
.openerp .oe_vm_switch_gantt,
.openerp .oe_vm_switch_calendar,
.openerp .oe_vm_switch_kanban,
.openerp .oe_vm_switch_diagram {
    overflow: hidden;
    width: 22px;
    height: 21px;
    border: none;
    background: url("/web/static/src/img/views-icons-a.png") repeat-x scroll left top transparent;
    background-position: 0px 0px;
}

.openerp .oe_vm_switch_form span,
.openerp .oe_vm_switch_page span,
.openerp .oe_vm_switch_tree span,
.openerp .oe_vm_switch_list span,
.openerp .oe_vm_switch_graph span,
.openerp .oe_vm_switch_gantt span,
.openerp .oe_vm_switch_calendar span,
.openerp .oe_vm_switch_kanban span,
.openerp .oe_vm_switch_diagram span {
    display: none;
}

.openerp .oe_vm_switch_list {
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_list:active,
.openerp .oe_vm_switch_list:hover,
.openerp .oe_vm_switch_list:focus,
.openerp .oe_vm_switch_list[disabled="disabled"] {
    background-position: 0px -21px;
}

.openerp .oe_vm_switch_tree {
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_tree:active,
.openerp .oe_vm_switch_tree:hover,
.openerp .oe_vm_switch_tree:focus,
.openerp .oe_vm_switch_tree[disabled="disabled"] {
    background-position: 0px -21px;
}

.openerp .oe_vm_switch_form {
    background-position: -22px 0px;
}
.openerp .oe_vm_switch_form:active,
.openerp .oe_vm_switch_form:hover,
.openerp .oe_vm_switch_form:focus,
.openerp .oe_vm_switch_form[disabled="disabled"] {
    background-position: -22px -21px;
}

.openerp .oe_vm_switch_page {
    background-position: -22px 0px;
}
.openerp .oe_vm_switch_page:active,
.openerp .oe_vm_switch_page:hover,
.openerp .oe_vm_switch_page:focus,
.openerp .oe_vm_switch_page[disabled="disabled"] {
    background-position: -22px -21px;
}
.openerp .oe_vm_switch_graph {
    background-position: -44px 0px;
}
.openerp .oe_vm_switch_graph:active,
.openerp .oe_vm_switch_graph:hover,
.openerp .oe_vm_switch_graph:focus,
.openerp .oe_vm_switch_graph[disabled="disabled"] {
    background-position: -44px -21px;
}

.openerp .oe_vm_switch_gantt {
    background-position: -66px 0px;
}
.openerp .oe_vm_switch_gantt:active,
.openerp .oe_vm_switch_gantt:hover,
.openerp .oe_vm_switch_gantt:focus,
.openerp .oe_vm_switch_gantt[disabled="disabled"] {
    background-position: -66px -21px;
}

.openerp .oe_vm_switch_calendar {
    background-position: -88px 0px;
}
.openerp .oe_vm_switch_calendar:active,
.openerp .oe_vm_switch_calendar:hover,
.openerp .oe_vm_switch_calendar:focus,
.openerp .oe_vm_switch_calendar[disabled="disabled"] {
    background-position: -88px -21px;
}
.openerp .oe_vm_switch_kanban {
    background-position: -110px 0px;
}
.openerp .oe_vm_switch_kanban:active,
.openerp .oe_vm_switch_kanban:hover,
.openerp .oe_vm_switch_kanban:focus,
.openerp .oe_vm_switch_kanban[disabled="disabled"] {
    background-position: -110px -21px;
}

.openerp .oe_vm_switch_diagram {
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_diagram:active,
.openerp .oe_vm_switch_diagram:hover,
.openerp .oe_vm_switch_diagram:focus,
.openerp .oe_vm_switch_diagram[disabled="disabled"] {
    background-position: 0px -21px;
}

/* Buttons */
.openerp .oe_button:link,
.openerp .oe_button:visited,
.openerp .oe_button {
    display: inline-block;
    padding: 3px 10px;
    outline: none;
    border: 1px solid #ababab;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #d8d8d8 none;
    background: none, -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
    background: none, -webkit-linear-gradient(#efefef, #d8d8d8);
    background: none, -moz-linear-gradient(#efefef, #d8d8d8);
    background: none, -o-linear-gradient(top, #efefef, #d8d8d8);
    background: none, -khtml-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
    background: -ms-linear-gradient(top, #efefef, #d8d8d8);
    background-size: 100% 100%;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: #404040;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    font-size: 12px;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: auto auto !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#d8d8d8',GradientType=0 );
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -webkit-font-smoothing: antialiased;
}

.openerp .oe_button:hover {
    background: #e3e3e3 none;
    background: none, -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
    background: none, -webkit-linear-gradient(#f6f6f6, #e3e3e3);
    background: none, -moz-linear-gradient(#f6f6f6, #e3e3e3);
    background: none, -o-linear-gradient(top, #f6f6f6, #e3e3e3);
    background: none, -khtml-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
    background: -ms-linear-gradient(top, #f6f6f6, #e3e3e3);
    background-size: 100% 100%;
    cursor: pointer;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: auto auto !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3',GradientType=0 );
}

.openerp .oe_button:focus {
    border: 1px solid #80bfff;
    background: #e3e3e3, none;
    background: none, -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
    background: none, -webkit-linear-gradient(#f6f6f6, #e3e3e3);
    background: none, -moz-linear-gradient(#f6f6f6, #e3e3e3);
    background: none, -o-linear-gradient(top, #f6f6f6, #e3e3e3);
    background: none, -khtml-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
    background: -ms-linear-gradient(top, #f6f6f6, #e3e3e3);
    background-size: 100% 100%;
    -webkit-box-shadow: 0 0 3px #80bfff, 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 0 3px #80bfff, 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 0 3px #80bfff, 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: auto auto !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3',GradientType=0 );
    -o-box-shadow: 0 0 3px #80bfff, 0 1px 1px rgba(255, 255, 255, 0.8) inset;
}

.openerp .oe_button:active,
.openerp .oe_button.active {
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #f6f6f6) #1b468f;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f6f6f6)) #1b468f;
    background: linear-gradient(top, #e3e3e3, #f6f6f6) #1b468f;
    background: -ms-linear-gradient(top, #e3e3e3, #f6f6f6);
    -webkit-box-shadow: none, 0 0 0 transparent;
    -moz-box-shadow: none, 0 0 0 transparent;
    box-shadow: none, 0 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#f6f6f6',GradientType=0 );
    -o-box-shadow: none, 0 0 0 transparent;
}

.openerp .oe_button.disabled,
.openerp .oe_button:disabled {
    padding: 3px 10px;
    border: 1px solid #d1d1d1 !important;
    background: #efefef !important;
    -webkit-box-shadow: none !important, 0 0 0 transparent;
    -moz-box-shadow: none !important, 0 0 0 transparent;
    box-shadow: none !important, 0 0 0 transparent;
    color: #aaaaaa !important;
    text-shadow: 0 1px 1px white !important;
    font-size: 12px;
    cursor: default;
    -o-box-shadow: none !important, 0 0 0 transparent;
}

.openerp select.oe_search-view-filters-management {
    color: #999999;
    font-style: oblique;
}

.openerp .oe_search-view-filters-management option,
.openerp .oe_search-view-filters-management optgroup {
    color: black;
    font-style: normal;
}

/* Debug stuff */
.openerp .oe_debug_view_log {
    font-size: 95%;
}
.openerp .oe_debug_view_log label {
    float: left;
    display: block;
    width: 49%;
    color: #009;
    text-align: right;
    font-weight: bold;
}
.openerp .oe_debug_view_log span {
    float: right;
    display: block;
    width: 49%;
    color: #333;
}

/* Internet Explorer Fix */
a img {
   border: none;
}
